.custom-image {
  background-image: url("https://res.cloudinary.com/ddez9nchs/image/upload/v1684582491/Robotoys/robots-isolated_3-removebg-preview.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}
