body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="number-slide"],
[class*=" number-slide"] {
  background: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #fff;
  font-weight: 500;
  height: 50vh;
  width: 100%;
  max-height: 100vh;
}

.number-slide1 {
  background: rgb(64, 175, 255);
  background: url("https://res.cloudinary.com/ddez9nchs/image/upload/v1684579373/Robotoys/1-min.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.number-slide2 {
  background: rgb(255, 75, 64);
  background: url("https://res.cloudinary.com/ddez9nchs/image/upload/v1684579372/Robotoys/3-min.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.number-slide3 {
  background: rgb(182, 255, 64);
  background: url("https://res.cloudinary.com/ddez9nchs/image/upload/v1684579372/Robotoys/2-min.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
