.tabcontent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-around;
  gap: 10px;
}

@media only screen and (max-width: 600px) {
  .tabcontent {
    grid-template-columns: repeat(1, 1fr);
  }
}
